---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  
  {% if page.github.public %}
    <p class="bottom-spacer">
      <a href="{{ page.github.repo-link }}" id="view-on-github" class="button"><span>View on Github</span></a>
      <a href="{{ page.github.zip-link }}" id="download-zip" class="button"><span>Download .zip</span></a>
    </p>
  {% endif %}

  {% if page.unity_dir %}
    <p center></p>
    <div style="position:relative;padding-bottom:56.25%; box-sizing: border-box;">
      <iframe 
        style="width:100%; max-width:100%; height:100%; max-height:100%;position:absolute;left:0px;top:0px;"
        allowfullscreen allow="autoplay"
        src="{{ site.baseurl }}/assets/unity/{{page.unity_dir}}/index.html">
      </iframe>
    </div>
  {% endif %}
  <br>

  {{ content }}

  {% if page.logo %}
    <img src="{{ site.baseurl }}/assets/{{ page.logo.path }}" alt={{page.logo.alt}} style="max-width: 100%;margin-left: auto;margin-right: auto;"/> 
  {% endif %}
</div>

<!--
{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
-->
